<!DOCTYPE html>
<html lang="en">
<head>
    <title>Expenses</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    
    {% block content %}
    {% endblock content %}
    
</body>
</html>










